{% extends "base_template.html" %}
{% block title %}
- Home
{% endblock %}
{% block meta %}
<meta name="description" content="Looking for something new to play? Look no further than Game|DB, join us and pick up a new favourite today!">
{% endblock %}
{% block content %}
{% if game_list %}
<div class="container-fluid w-100">
  <div class="row carousel-row">
    <div class="col-12 game-list my-3">
    <div class="card my-2 mx-auto border-0">
      <h3 class="card-header ps-5 pe-5 pt-3 pb-3 front-page-header h4 text-center text-decoration-underline w-100">Your Recently Viewed Games</h3>
      <div class="card-body ps-5 pe-5 pt-3 pb-3 front-page releases">
    <div class="container carousel-container recent-view">
      <div class="logo-carousel-recent slider" data-arrows="true">
        {% for games in game_list %}
        <div class="slide">
          <a href="{{ games.get_absolute_url }}"><picture>
            <source media="(max-width:768px)" srcset="{{ games.cover_mobile_resized.url }}">
            <img src="{{ games.cover_large_resized.url }}" class="p-3 cover-art" width="200" height="250" alt="Cover of {{ games.game_title }}"></picture></a>
        </div>
        {% endfor %}
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>{% endif %}




{% block scripts %}
<script>

  $(document).ready(function() {
    $('.logo-carousel').slick({
      vertical:false,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: false,
      autoplaySpeed: 1000,
      arrows: true,
      dots: false,
      pauseOnHover: false,
      responsive: [{
        breakpoint: 768,
        settings: {
          slidesToShow: 4
        }
      }, {
        breakpoint: 520,
        settings: {
          slidesToShow: 2
        }
      }]
    });
  $('.logo-carousel-recent').slick({
      vertical:false,
      slidesToShow: 6,
      slidesToScroll: 1,
      autoplay: false,
      autoplaySpeed: 1000,
      arrows: true,
      dots: false,
      pauseOnHover: false,
      responsive: [{
        breakpoint: 768,
        settings: {
          slidesToShow: 4
        }
      }, {
        breakpoint: 520,
        settings: {
          slidesToShow: 2
        }
      }]
    });
  });
  </script>
  {% endblock %}