{% extends "base_template.html" %}
{% load pagination_tags %}  
{% block title %}
- Lists
{% endblock %}
{% block meta %}
<meta name="description" content="Find what other members of our community are playing and find something new for yourself.">
{% endblock %}
{% block content %}
{% if all_recent_lists %}
<div class="container-fluid list-central-column my-5">
  <div class="row justify-content-end">
{% for each_list in all_recent_lists %}
<div class="col-6 col-md-3 my-3">
<div class="card rounded-3 lists">
  <a href="/../catalog/lists/{{ each_list.id }}"><img src="{{ each_list.list_image.url }}" class="rounded-3 mb-5 list-cover-image" alt="Cover Image For {{ each_list.list_title }} list"></a>
  <div class="card-body">
  <a href="/../catalog/lists/{{ each_list.id }}"><p>{{ each_list.list_title }}</p></a>
<p>{{ each_list.blurb|truncatechars:150 }}</p>
  </div>
<div class="list-button">
<a class="btn btn-primary" href="lists/{{ each_list.id }}" role="button">View This Collection</a>
</div>
</div>
</div>
{% endfor %}
</div>
<div class="pagination justify-content-center">
    <span class="step-links">
        {% if all_recent_lists.has_previous %}
            <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
            <a href="?{% url_replace request 'page' all_recent_lists.previous_page_number %}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ all_recent_lists.number }} of {{ all_recent_lists.paginator.num_pages }}
        </span>
  
        {% if page_obj.has_next %}
            <a href="?{% url_replace request 'page' all_recent_lists.next_page_number  %}">next</a>
            <a href="?{% url_replace request 'page' all_recent_lists.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
  </div>
  {% else %}
  <p>There are no lists yet</p>
  </div>
  </div>
  {% endif %}
  
  {% endblock %}