{% extends "base_template.html" %}
{% load pagination_tags %}  
{% block title %}
- {{ company.company_name }}
{% endblock %}
{% block meta %}
<meta name="description" content="Games published by {{ company.company_name }}">
{% endblock %}
{% block content %}
<h2 class="section_headers my-5">Games Published By {{ company.company_name }}:</h2>
<div class="container">
    <table class="table table-dark table-borderless table-responsive table-striped mt-3">
 {% for test in page_obj %}
    <tr class="border-bottom border-secondary">
        {% if test.version_parent %}
        <td class="p-2 text-center"><a href="../games/{{ test.version_parent }}">
            {% if test.cover_thumb_resized %}
            <img src="{{ test.cover_thumb_resized.url }}" width="90" height="90" alt="Cover of {{ test.game_title }}">
        {% else %}
        <img src="https://gamedb-bucket.s3.eu-central-1.amazonaws.com/media/No-Image-Available-Thumbnail.png" width="90" height="90" alt="No cover available for {{ test.game_title }}">
    {% endif %}
    </a></td>
        <td class="p-2 w-100 align-middle"><span><a href="../games/{{ test.version_parent }}">{{ test.game_title }}</a></span><span class="float-end">Rating: {{ test.average_rating }}({{ test.number_of_votes }})</span></td>
        {% else %}
    <td class="p-2 text-center"><a href="../games/{{ test.id }}">          
        {% if test.cover_thumb_resized %}
        <img src="{{ test.cover_thumb_resized.url }}" width="90" height="90" alt="Cover of {{ test.game_title }}">
    {% else %}
    <img src="https://gamedb-bucket.s3.eu-central-1.amazonaws.com/media/No-Image-Available-Thumbnail.png" width="90" height="90" alt="No cover available for {{ test.game_title }}">
{% endif %}</a></td>
    <td class="p-2 w-100 align-middle"><span><a href="../games/{{ test.id }}">{{ test.game_title }}</a></span><span class="float-end">Rating: {{ test.average_rating }}({{ test.number_of_votes }})</span></td>
    {% endif %}
</tr>

 {% endfor %}
</table>

<div class="pagination justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?{% url_replace request 'page' page_obj.next_page_number  %}">next</a>
            <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}